
{% extends "base.html" %}

{% block content%}
      <!-- background bg start -->
      <div class="background_bg">
         <!-- watchs section start -->
         <div class="watchs_section layout_padding">
            <div class="container">
               <h1 class="watchs_taital">LIST OF<br>OUR LUXURIOUS WATCHES</h1>
               <div class="watchs_section_2">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="image_1"><img src="/static/images/img-1.png"></div>
                     </div>
                     <div class="col-md-6">
                        <h4 class="uni_text">SEAMASTER <br>300
                           41 MM, STEEL ON LEATHER STRAP</h4>
                        <p class="watchs_text"> Designed especially for divers and professionals who worked underwater. More than 60 years later, the timepiece has been completely upgraded with an enhanced form that is ready for a new generation of adventurers.</p>
                        <h4 class="rate_text"><span style="color: #b60213;">$</span>100</h4>
                        <div class="read_bt1"><a href="{% url 'contact'%}">Buy Now</a></div>
                     </div>
                  </div>
               </div>
               <div class="watchs_section_3">
                  <div class="row">
                     <div class="col-md-6">
                        <h4 class="uni_text">SEAMASTER<br>
                           PLANET OCEAN 6000M</h4>
                        <p class="watchs_text"> Ultra Deep made history when it reached the deepest place on Earth. Following that World Record dive, the game-changing watch has now been adapted for a unique collection available to the public. Tested in real ocean conditions during its development, the design is water-resistant to 6,000 metres (20,000 ft.) and meets the ISO 6425:2018 standard for saturation divers’ watches.</p>
                        <h4 class="rate_text"><span style="color: #b60213;">$</span>100</h4>
                        <div class="read_bt1"><a href="{% url 'contact'%}">Buy Now</a></div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_2"><img src="/static/images/img-2.png"></div>
                     </div>
                  </div>
               </div>
               <div class="seemore_bt"><a href="{% url 'watchs'%}">See More</a></div>
            </div>
         </div>
         <!-- watchs section end -->
         <!-- about section start -->
         <div class="about_section layout_padding">
            <div class="container">
               <h1 class="watchs_taital"><br>About US</h1>
               <div class="about_section_2">
                  <div class="row">
                     <div class="col-md-6">
                        <p class="about_text">Welcome to UONI Pvt Ltd , where time becomes an art form. Founded on the principles of precision craftsmanship and timeless elegance, we are dedicated to curating a collection of exquisite watches that not only tell time but also tell stories. With a passion for innovation and a commitment to quality, we strive to offer timepieces that transcend fashion trends and become cherished heirlooms. Our journey is fueled by a love for horology and a desire to inspire moments of beauty and sophistication in the lives of our customers. Join us as we embark on a timeless adventure, where every tick of the clock signifies a new chapter in elegance.</p>
                        <div class="read_bt1"><a href="{% url 'watchs'%}">Buy Now</a></div>
                     </div>
                     <div class="col-md-6">
                        <div class="image_2"><img src="/static/images/img-3.png"></div>
                     </div>
                  </div>
               </div>
               <div class="about_section_3">
                  <div class="row">
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="/static/images/img-4.png"></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="/static/images/img-5.png"></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="/static/images/img-6.png"></div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="border_main">
                           <div class="image_4"><img src="/static/images/img-7.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- about section end -->
         <!-- testimonial section start -->
         <div class="testimonial_section layout_padding">
            <div class="container">
               <h1 class="watchs_taital"><br>Testimonial</h1>
               <div class="testimonial_section_2">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="box_main">
                           <p class="testimonial_text">Shopping at Uoni was a true delight! Their website offers an impressive array of watches, catering to every style and budget. Navigating through their selection was effortless, thanks to intuitive search filters and detailed product descriptions.<br><br>

                              What truly sets Uoni apart is their exceptional customer service. The support team was attentive, knowledgeable, and readily available to assist me throughout the entire shopping journey. Their personalized recommendations helped me find the perfect watch that matched my preferences perfectly.
                           </p>
                        </div>
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="/static/images/client-img.png"></div>
                           </div>
                           <div class="client_right">
                              <h6 class="client_name">Jamesh Dame</h6>
                              <p class="customer_text">Customer</p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="box_main">
                           <p class="testimonial_text">Shopping at Uoni was a true delight! Their website offers an impressive array of watches, catering to every style and budget. Navigating through their selection was effortless, thanks to intuitive search filters and detailed product descriptions.<br><br>

                              What truly sets Uoni apart is their exceptional customer service. The support team was attentive, knowledgeable, and readily available to assist me throughout the entire shopping journey. Their personalized recommendations helped me find the perfect watch that matched my preferences perfectly.</p>
                        </div>
                        <div class="client_main">
                           <div class="client_left">
                              <div class="client_img"><img src="/static/images/client-img1.png"></div>
                           </div>
                           <div class="client_right">
                              <h6 class="client_name">Jumini Kiri</h6>
                              <p class="customer_text">Customer</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="seemore_bt_1"><a href="{% url  'testimonial'%}">See More</a></div>
            </div>
         </div>
         <!-- testimonial section end -->
         <!-- contact section start -->
         <div class="contact_section layout_padding">
            <div class="container">
               <h1 class="watchs_taital">Get In Touch<br></h1>
            </div>
            <div class="contact_section_2">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="mail_section_1">
                           <form action="{% url 'contact' %}" method="post">
                              {% csrf_token %}
                           <input type="text" class="mail_text" placeholder="Your Name" name="Your Name">
                           <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number">
                           <input type="text" class="mail_text" placeholder="Email" name="Email">
                           <textarea class="massage-bt" placeholder="Please Provide us Details" rows="5" id="comment" name="Massage"></textarea>
                           {% comment %} <div class="send_bt"><a href=""><input type="submit" value="SEND" class="send_input"></a></div> {% endcomment %}
                           <div>
                              <button class="mail_text" type="submit" style =" font-weight: 100; font-weight: bold; color: #a40514; background-color: #a40514 ;">SEND</button>
                          </div> 
                           </form>
                        </div>
                     </div>
                     <div class="col-md-6 padding_right_0">
                        <div class="map_section"><img src="/static/images/map-img.png"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- contact section end -->
      </div>
      <!-- background bg end -->
      
      {% endblock%}